.card {
  cursor: pointer;
}

.card-img-container {
  overflow: hidden;
}

.card-img-top {
  transition: all 1s;
  filter: brightness(0.8);
}

.card img:hover {
  transform: scale(1.2, 1.2);
  opacity: 1;
  filter: brightness(1);
}